body {
	/* Center the game container */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;

	/* Variables */
	--background-color: #323232;

	/* Background color */
	/* background-color: var(--background-color); */
	background-color: aliceblue;
}

#gameContainer {
	background-color: var(--background-color);
	position: relative;
	overflow: hidden;
}
