body {
	/* Center the game container */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	/* Variables */
	--background-color: #323232;

	/* Background color */
	/* background-color: var(--background-color); */
	background-color: var(--background-color);
}

#gameContainer {
	border-bottom: #202020 5px dashed;
	background-color: var(--background-color);
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.obstricleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
}

#circleObstricle {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 400px;
	height: 400px;
}

.circleElement {
	width: 50%;
	height: 50%;
}

.circleElement#top-left {
	border-top-left-radius: 100%;
}
.circleElement#top-right {
	border-top-right-radius: 100%;
}
.circleElement#bottom-left {
	border-bottom-left-radius: 100%;
}
.circleElement#bottom-right {
	border-bottom-right-radius: 100%;
}

.circleCover {
	position: absolute;
	background-color: var(--background-color);
	border-radius: 50%;
	width: 85%;
	height: 85%;
	top: 7.5%;
	right: 7.5%;
}
